/* Header */
nav{
    margin-bottom: 1rem;
    position: fixed;
    padding-bottom: 0;
}

.justify-content-end{
    margin-right: 2rem;
}
.navbar-brand{
    font-size: 1.75;
}

.nav-item{
    display: block;
}

p{
    line-height: 1.5;
    margin-bottom: 0;
}
h3{
    font-family: futura-pt, sans-serif;
    font-weight: 400;
    font-style: normal;
}
/* Main Content */
body{
    background-color: lightgray;
}
.card{
    background-color: white;
}
.img{
    width: 50px;
    height: 50px;
    margin: 1rem;
    justify-content: center;
}
.img-thumbnail{
    height: 250px;
    width: 250px;
}
.port{
    height: 150px;
    margin: 1rem;
}
a{
    text-decoration: none;
    font-family: futura-pt, sans-serif;
    font-weight: 400;
    font-style: normal;
}
.banner{
    width: 260px;
    height: 2.5rem;
    background: #303030;
    color: white;
    text-align: center;
}
/* Footer */
footer {
    line-height: 100px;
    position: fixed;
    background: rgb(17, 0, 39);
    bottom:0px;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    height: 100px;
    text-align: center; 
    z-index: -1;
    color: white;
}
/* Stylistic elements and layour */
.col-sm-9{
    max-width: 100%;
}
.text{
    width: 100%;
}
.btn-primary{
    background-color: #330033;
}
/* fonts and Type */
label, h4, button, h5, .navbar-brand{
    font-family: futura-pt, sans-serif;
    font-weight: 550;
    font-style: normal;
    color: #330033;
}
.nav-link, p{
    font-family: futura-pt, sans-serif;
    font-weight: 400;
    font-style: normal;
}
h5{
    color: white;
}
p{
    line-height: 1.5;
    margin-bottom: 0;
}
/* Media Query */
@media screen and (min-width: 768px) {
    .flex{
        display: flex;
    }
    .space{
        margin: auto 1rem;
    }
  }
